<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>补偿款计算</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        #app {
            width: 1000px;
            margin: 0 auto;
        }
        #control-box {
            padding: 10px;
        }
        .item {
            display: flex;
            margin-bottom: 10px;
        }
        .item .name {
            width: 300px;
            text-align: right;
            margin-right: 20px;
        }
    </style>
</head>
<body>
    <div id="app">
        <div id="control-box">
            <div class="item">
                <span class="name">总建筑面积</span>
                <input type="text" v-model="dataForm.buildTotal">
            </div>
            <div class="item">
                <span class="name">安置人口</span>
                <input type="text" v-model="dataForm.peopleNumber">
            </div>
        </div>
        <hr />
        <div id="count-detail">
            <div id="detail-first">
                <div class="item">
                    <span class="name">认定的安置面积</span>
                    <span class="value"></span>
                </div>
                <div class="item">
                    <span class="name">人均130M^2扣除应安置面积(已建)</span>
                    <span class="value"></span>
                </div>
                <div class="item">
                    <span class="name">人均130M^2无合法批建手续未建面积</span>
                    <span class="value"></span>
                </div>
                <div class="item">
                    <span class="name">人均130M^2以外已建面积</span>
                    <span class="value"></span>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                dataForm: {
                    buildTotal: null,
                    peopleNumber: null
                }
            }
        })
    </script>
</body>
</html>